.navbar {
    background: white;
}

/* This enables the sticky footer*/
.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.contentainer {
    padding: 1em;
    margin-top: 3em;
}

.is-paragraph {
    margin-bottom: 2em;
}

.has-bg-img {
    background-image: url('https://img9.uhdpixel.com/wp/a/7/oktoberfest-gragas-lol-splash-art-league-of-legends-a739.jpg')
        center center;
}
